<h1>Генератор персонажей</h1>

<form id="character-form">
    <label for="photo-upload">Загрузите фото:</label>
    <input type="file" id="photo-upload" name="photo" accept="image/*" (change)="previewImage($event)">

    <div class="image-preview" id="image-preview">
        <span *ngIf="!imageSrc">Загруженное фото будет отображено здесь</span>
        <img *ngIf="imageSrc" [src]="imageSrc" />
    </div>

    <label for="race">Раса:</label>
    <select id="race">
        <option *ngFor="let race of races" [value]="race">{{ race }}</option>
    </select>

    <label for="gender">Пол:</label>
    <select id="gender">
        <option *ngFor="let gender of genders" [value]="gender">{{ gender }}</option>
    </select>

    <label for="class">Класс:</label>
    <select id="class">
        <option *ngFor="let className of classes" [value]="className">{{ className }}</option>
    </select>

    <button class="button-container" type="submit" id="generate-button">Сгенерировать</button>
</form>

<h2>Результат генерации:</h2>
<div class="result-preview" id="result-preview">
    <span>Результат будет отображен здесь</span>
</div>

<button (click)="OnCharacterCreateButtonClick()">Go to character-create</button>